<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Home</title>
</head>

<body style="background-color: rgb(228, 222, 212);">

    <div class="div-style">
        <div class="small-container" style="background-color: red;">
            <p class="p"> Welcome to the Home page.</p>
        </div>
        <div class="small-container" style="background-color: blue;">
            <p>This program implements several space related apis</p>
        </div>
        <div class="small-container" style="background-color: yellow;">
            <p>This program implements several space related apis</p>
            <!-- <img th:src="${imageUrl}" alt="Image from External API" /> -->
        </div>
    </div>

</body>

</html>