<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="\css\styles.css">
    <title>Home</title>
</head>

<body style="background-color: rgb(228, 222, 212);">
    <div class="div-style">
        <div style="background-color: red;">
            <p class="p"> Welcome to the Home page.</p>
        </div>
        <div style="background-color: blue;">
            <p>This program implements several space related apis</p>
        </div>
    </div>
    <br>

</body>

</html>